作業目標:<br>
1. 運用編碼處理類別資料<br>
2. 補缺失值

作業重點: <br>
1. 類別編碼有多種方法，需分辨使用方法與時機<br>
2. 補缺失值須因應情境決定如何補值

題目 : 
將以下問卷資料的職業(Profession)欄位缺失值填入字串'others'，更進一步將字串做編碼。
此時用什麼方式做編碼比較適合?為什麼?

import pandas as pd <br>
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])

In [1]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [12]:
#缺失值填入字串'others'
q_df = q_df.fillna('other')
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female      other
3  female   engineer

In [13]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

q_df_new = pd.get_dummies(q_df[['Sex', 'Profession']])
q_df = pd.concat([q_df,q_df_new],axis=1)
q_df

,Sex,Profession,Sex_female,Sex_male,Profession_engineer,Profession_other,Profession_teacher
0,male,teacher,0,1,0,0,1
1,male,engineer,0,1,1,0,0
2,female,other,1,0,0,1,0
3,female,engineer,1,0,1,0,0

適合用One-hot Encoding(一位有效編碼)，因為此資料沒有順序性

In [ ]:
#del q_df_new['Profession_teacher']